%form{:method => 'POST', :action => '/'}
  %input{:type => 'text', :name => 'word', :id => 'word'}
  %input{:type => 'submit', :id => 'submit'}
%canvas{:id => 'content-canvas', :width => '900px', :style => 'border: 1px solid black;'}
